Django>=5.2
gunicorn>=23.0
psycopg[binary]>=3.2
whitenoise>=6.11
dj-database-url>=3.0
dotenv>=0.9
django-admin-charts>=1.5
django-anymail>=13.1
sendgrid>=6.12
django-storages>=1.14
boto3>=1.41
pillow>=12.0
stripe>=14.0
ruff>=0.14