{% extends 'common/base.html' %}

{% block title %}お茶一覧{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-5">お茶一覧</h1>
    <div class="row">
        {% for tea in teas %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">{{ tea.name }}</h5>
                    <p class="card-text">{{ tea.description }}</p>
                    <div class="d-flex justify-content-between">
                        <div><a href="{% url 'published_tea_detail' tea.id %}" class="btn btn-success">詳細を見る</a></div>
                        <div>
                            {% if user.is_authenticated %}
                              {% if tea.is_favorited_by_user %}
                              <button type="button" class="btn btn-danger">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart-fill" viewBox="0 0 16 16">
                                <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1"></path>
                                </svg>
                                お気に入り済み
                              </button>
                              {% else %}
                              <button type="button" class="btn btn-outline-danger">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart-fill" viewBox="0 0 16 16">
                                <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1"></path>
                                </svg>
                                お気に入りに追加
                              </button>
                              {% endif %}
                            {% endif %}
                            <div>
                              <span id="like-count">{{ tea.favorites_count }}</span> favorites
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
