{% extends 'common/base.html' %}

{% block title %}{{tea.name}} 詳細{% endblock %}

{% block content %}
<div class="container">
  <h1>{{ tea.name }}</h1>

  <p>{{ tea.description }}</p>
  <div class="row">
    <div class="col-md-6">
      <h2>詳細情報</h2>
      <ul class="list-group">
        <li class="list-group-item">蒸し度: {{ tea.get_steam_type_display }}</li>
        <li class="list-group-item">産地: {{ tea.origin }}</li>
        <li class="list-group-item">カフェインレス: {{ tea.caffeine_free }}</li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}