{% extends 'common/base.html' %}

{% block title %}ホーム{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">ようこそ、{{ user.nickname }}さん！</h1>
                    <p class="card-text">ログインに成功しました。</p>
                    <hr>
                    <h5>アカウント情報</h5>
                    <ul class="list-unstyled">
                        <li><strong>ユーザー名:</strong> {{ user.nickname }}</li>
                        <li><strong>メールアドレス:</strong> {{ user.email }}</li>
                        <li><strong>登録日:</strong> {{ user.date_joined|date:"Y年m月d日" }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
